name: Docker CD

on:
  push:
    branches: [ "main" ]

jobs:
  docker:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}

    - run: docker build -t ${{ secrets.DOCKER_USERNAME }}/devops-java:1.0.0 .
    - run: docker push ${{ secrets.DOCKER_USERNAME }}/devops-java:1.0.0
