name: SonarCloud Analysis

on:
  push:
    branches: [ "main" ]
  pull_request:

jobs:
  sonar:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Setup Java 21
      uses: actions/setup-java@v4
      with:
        java-version: '21'
        distribution: 'temurin'

    - name: Cache SonarCloud packages
      uses: actions/cache@v4
      with:
        path: ~/.sonar/cache
        key: ${{ runner.os }}-sonar

    - name: Cache Maven packages
      uses: actions/cache@v4
      with:
        path: ~/.m2
        key: ${{ runner.os }}-maven

#    - name: SonarCloud Scan
 #     run: |
  #      mvn clean verify sonar:sonar \
   #     -Dsonar.projectKey=emmanueleffa10_devops-tp-github \
    #    -Dsonar.organization=emmanueleffa10 \
     #   -Dsonar.host.url=https://sonarcloud.io \
      #  -Dsonar.login=${{ secrets.SONAR_TOKEN }}
